$base-vp: 1600px;
$base-tablet: "screen and (max-width: 1024px)";
$base-tablet-portait: "screen and (max-width: 768px)";
$base-phone: "screen and (max-width: 480px)";
// Colors
$ms-grey: rgb(38, 38, 38);
$ms-office: #d83b01;
$ms-sharepoint: #0078d4;

$ms-form-border: rgb(166, 166, 166);
