.pnp-tb {
    font-size: 1em;
    padding: 0.2em 0.8em 0.3em;
    // border: 2px $ms-form-border solid;

    &[disabled] {
        background-color: rgb(244, 244, 244);
        color: $ms-form-border;
    }
}

input[type="radio"] {
    font-size: 1em;
    margin-right: 1em;
}

input[type="checkbox"] {
    font-size: 1em;
    margin-right: 1em;
}

button,
input[type="button"] {
    font-size: 1em;
    border-color: 2px $ms-form-border solid;
    background-color: rgb(244, 244, 244);
    border: 1px $ms-form-border solid;
    padding: 0.4em 1em 0.5em;
    color: rgb(51, 51, 51);
    font-weight: 600;
    transition: background-color 0.25s ease-in-out;

    &:hover {
        background-color: $ms-sharepoint;
        color: white;
    }

    &:active,
    &:checked {
        background-color: rgb(200, 200, 200);
        color: rgb(51, 51, 51);
    }
}


textarea {
    border-color: 2px $ms-form-border solid;
    font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding: 0.2em 0.8em 0.3em;
}

select,
option {
    font-size: 1em;
    border-color: 2px $ms-form-border solid;
    -webkit-border-radius: 0px;
}

table {
    width: 100%;
}

th {
    font-size: 1.2em;
    text-align: left;
    padding: 0.5em 2em;
    padding-left: 0px;
}

#ThemePrimaryColor,
#ThemeBodyBackgroundColor,
#ThemeBodyTextColor {
    padding: 0px;
    background-color: white;
}


.pnp-search {
    font-size: 1.15em;

    &-input {
        @extend .pnp-tb;
        margin-right: 0;
        padding-right: 0;
        float: left;
        border-right: 0;
        border: 1px $ms-form-border solid;
        border-right: 0;
    }

    &-button {
        box-sizing: border-box;
        background-color: white;
        border-left: 0px;
        margin-left: 0;
        padding: 0.2em 0.4em 0.3em;
        padding-bottom: calc(0.3em - 3px);
        float: left;
        overflow: hidden;
        color: $ms-sharepoint;

        &:before {
            font-family: "FW-MDL2";
            margin-top: 3px;

            display: inline-block;
            content: '';
        }
    }
}
.pnp-form{
    width: 100%;
    .pnp-btn-provision{
    }

    @media #{$base-phone}{
        table th, table td{
            display: block;
        }
    }

    .pnp-field-description {
        font-size: 0.7em;
        font-weight: normal;
    }

    .pnp-field-label {
    }
}
