<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <title>SharePoint Online Provisioning Service</title>

    <link rel="stylesheet" href="/app/styles/main.css">
    <link href="/app/styles/color-picker.min.css" rel="stylesheet">
    <script src="/app/scripts/color-picker.min.js"></script>
    <script src="/app/scripts/custom.js"></script>
    <link href="/app/styles/custom.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/lookbook/assets/favicon.ico">
    <link href="/lookbook/assets/style/icon.css" rel="stylesheet">
    <link rel="stylesheet" href="/lookbook/assets/style/styles.css">
    <link rel="stylesheet" href="/lookbook/assets/style/lookbook.css">
    <link rel="stylesheet" href="/lookbook/assets/style/lookbook-custom.css">

    <script type="text/javascript" src="/lookbook/assets/scripts/partial.js"></script>

</head>
<body>

    @Html.Partial("_Header")

    @RenderBody()

    @Html.Partial("_Footer")

    @RenderSection("scripts", required: false)

</body>
</html>
