<section class="top-section">
    <div class="container-fluid">
        <div class="top-section-area teal-header d-flex align-items-center">
            <div class="section-text">
                <div>
                    <h1 class="mb-4">SharePoint provisioning service</h1>
                </div>
            </div>
        </div>
        <div class="top-section-area white-header d-flex align-items-center">
            <div class="section-text">
                <div>
                    <h1 class="mb-4">Great choice!</h1>
                    <h3 class="mb-3">We just need a bit of information before we start provisioning</h3>
                    <p class="mb-3">
                        The following settings are used for your example site. You can keep them as is, or change them to suit your needs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
