@model SharePointPnP.ProvisioningApp.WebSite.Models.CategoriesMenuViewModel
<div>
    @foreach (var c in Model.Categories)
    {
        <li class="">
            <div class="app-nav-menu-item">
                <button class="has-glyph menuButton" type="button" aria-expanded="false"><span>@c.DisplayName</span></button>
                <div class="menu-panel" style="height: auto;">
                    <ul>
                        @foreach (var p in c.Packages)
                        {
                            <li class="">
                                <div class="app-nav-menu-item">
                                    <div class="">
                                        <a href="@(String.IsNullOrEmpty(Model.BaseLinksUrl) ? "/home/details?packageId=" : Model.BaseLinksUrl)@p.Id" class=""><span>@p.DisplayName</span></a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </li>
    }
</div>