@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/functions';

:host {
    display: block;
    font-size: 14px;
}

.aspect-ratio-wrapper {
    padding-bottom: percentage(290 / 516);
    position: relative;
    overflow: hidden;

    .aspect-ratio-image-wrapper {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        img {
            width: 100%;
        }
    }
}

.site-name {
    font-size: calculateRem(15px);
    line-height: calculateRem(20px);
    margin-top: calculateRem(32px);
    margin-bottom: calculateRem(8px);
}

a {
    color: inherit;
    display: block;

    .hero-image {
        background: darken($slb-color-grey700, 2%);
        margin-bottom: map-get($spacers, 2);
        @include box-shadow-elevation-1;
        overflow: hidden;
        transition: opacity .3s, box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    &:hover,
    &:focus {
        color: inherit;
        text-decoration: none;

        .hero-image {
            @include box-shadow-elevation-5;
            opacity: 0.9;
        }
    }

    &:focus {
        outline: none;

        .hero-image {
            @include focus-outline
        }
    }
}