<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=sppnpprovisioningapptest;AccountKey=4mk+pv+HMKbSegISMQf0j4FQHBTK9GxPXQNYMMPalzzlVTVliVoT1AFK7h3rEm7YjJubGAdNZLGVWSxTKRXWqA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=sppnpprovisioningapptest;AccountKey=4mk+pv+HMKbSegISMQf0j4FQHBTK9GxPXQNYMMPalzzlVTVliVoT1AFK7h3rEm7YjJubGAdNZLGVWSxTKRXWqA==;EndpointSuffix=core.windows.net" />
    <add name="PnPProvisioningAppDBContext" connectionString="Server=tcp:sppnpprovisioning.database.windows.net,1433;Initial Catalog=sppnpprovisioningapp-test;Persist Security Info=False;User ID=PnPAdmin;Password=SPpnp@DB2oI8!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

    <add key="TestEnvironment" value="true" />
    <add key="InstrumentationKey" value="c265ae86-aaae-418c-b7f2-6885f11415ed" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Site Collection level App -->
    <add key="Site:ClientId" value="dfa4974c-dd1d-4ab3-9881-d5918fe948e9" />
    <add key="Site:ClientSecret" value="7kfieJumRAfoaCi8U4vU34Z96UUgQJ2SWMoGsQS0fKo=" />
    <add key="Site:AppUrl" value="https://provisioning-test.sharepointpnp.com/site/" />
    <!-- Tenant-wide level App -->
    <add key="Tenant:ClientId" value="71bb3253-b8a9-4d27-bfc5-129131bdf086" />
    <add key="Tenant:ClientSecret" value="hyVRwn0yMzOsew2j4aNOLT1Ozlx6wvgIi30UW20JFl4=" />
    <add key="Tenant:AppUrl" value="https://provisioning-test.sharepointpnp.com/tenant/" />
    <!-- OfficeDevPnP App -->
    <add key="OfficeDevPnP:TenantId" value="73da091f-a58d-405f-9015-9bd386425255" />
    <add key="OfficeDevPnP:ClientId" value="8a87afda-601a-4c36-a0e6-c37d3152229b" />
    <add key="OfficeDevPnP:ClientSecret" value="33pmtB77scaDWsCRqlsoKDE1D1bc1nUc65x43I8CyVI=" />
    <add key="OfficeDevPnP:AppUrl" value="https://provisioning.sharepointpnp.com/" />
    <add key="OfficeDevPnP:MailSenderUPN" value="paolo@officedevpnp.onmicrosoft.com" />
    <add key="OfficeDevPnP:MailFrom" value="provisioning@officedevpnp.onmicrosoft.com" />
    <add key="OfficeDevPnP:MailSubject" value="SharePoint PnP Provisioning Service" />


    <!-- General Settings-->
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <!--
    <add key="ida:ClientId" value="69b20c67-b041-47bd-87b2-cbc1ec685cca" />
    <add key="ida:ClientSecret" value="BasrEyBGJ+jLIkXwKtig9B221JjdrwfSXwxvVak7xnM=" />
    <add key="ida:AppUrl" value="https://sppnpprovisioningapp.azurewebsites.net/site/" />
    -->
    <add key="KeyVault:ClientId" value="dfa4974c-dd1d-4ab3-9881-d5918fe948e9" />
    <add key="KeyVault:CertificateThumbprint" value="23FAEAB6A64816C0376828FEB10FE6C5D1B5E14D" />
    <add key="KeyVault:CertificateStoreName" value="My" />
    <add key="KeyVault:CertificateStoreLocation" value="CurrentUser" />
    <add key="KeyVault:VaultAddress" value="https://spprovisioningapp.vault.azure.net/" />
    <add key="SPPA:StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=sppnpprovisioningapptest;AccountKey=4mk+pv+HMKbSegISMQf0j4FQHBTK9GxPXQNYMMPalzzlVTVliVoT1AFK7h3rEm7YjJubGAdNZLGVWSxTKRXWqA==;EndpointSuffix=core.windows.net" />
    <add key="SPPA:StorageQueueName" value="actions" />
    <add key="SPPA:AccessTokenProvider" value="SharePointPnP.ProvisioningApp.Infrastructure.ADAL.AccessTokenProvider, SharePointPnP.ProvisioningApp.Infrastructure" />
    <add key="BlobTemplatesProvider:ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=sppnpprovisioningapptest;AccountKey=4mk+pv+HMKbSegISMQf0j4FQHBTK9GxPXQNYMMPalzzlVTVliVoT1AFK7h3rEm7YjJubGAdNZLGVWSxTKRXWqA==;EndpointSuffix=core.windows.net" />
    <add key="BlobTemplatesProvider:ContainerName" value="templates" />
    <add key="BlobLogosProvider:ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=sppnpprovisioningapptest;AccountKey=4mk+pv+HMKbSegISMQf0j4FQHBTK9GxPXQNYMMPalzzlVTVliVoT1AFK7h3rEm7YjJubGAdNZLGVWSxTKRXWqA==;EndpointSuffix=core.windows.net" />
    <add key="BlobLogosProvider:ContainerName" value="logos" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>