<footer class="slb-footer app-footer">
    <section aria-label="follow us on social media" class="social-buttons" role="region">
        <div class="container-fluid">
            <span>Follow Microsoft</span>
            <ul>
                <li>
                    <a href="https://www.facebook.com/Microsoft" title="Follow Microsoft on Facebook">
                        <picture>
                            <img alt="Facebook" src="/lookbook/assets/images/facebook.png">
                        </picture>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/microsoft" title="Follow Microsoft on Twitter">
                        <picture>
                            <img alt="Twitter" src="/lookbook/assets/images/twitter.png">
                        </picture>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/microsoft" title="Follow Microsoft on Linkedin">
                        <picture>
                            <img alt="LinkedIn" src="/lookbook/assets/images/linkedin.png">
                        </picture>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <div class="footer-nav">
        <div class="container-fluid">
            <nav class="links">
                <a href="https://go.microsoft.com/?linkid=2028325">Contact Us</a><a href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy &amp; Cookies</a><a href="https://go.microsoft.com/fwlink/?LinkID=206977">Terms of Use</a><a href="https://www.microsoft.com/trademarks">Trademarks</a><a href="https://www.microsoft.com/en-us/devices/safety-and-eco">Safety &amp; eco</a><a href="https://choice.microsoft.com/">About our ads</a> © Microsoft 2019
            </nav>
        </div>
    </div>
</footer>