@*<footer class="pnp-footer">
        <section aria-label="follow us on social media" class="social-buttons" role="region">
            <div class="container-fluid"><span>Follow Microsoft</span>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/Microsoft" title="Follow Microsoft on Facebook">
                            <picture><source srcset="//www.microsoft.com/onerfstatics/marketingsites-wcus-canary/_h/2532198d/coreui.statics/images/social/facebook.svg" type="image/svg+xml">
                            <img alt="Facebook" src="//www.microsoft.com/onerfstatics/marketingsites-wcus-canary/_h/85288795/coreui.statics/images/social/facebook.png"></picture>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/microsoft" title="Follow Microsoft on Twitter">
                            <picture><source srcset="//www.microsoft.com/onerfstatics/marketingsites-wcus-canary/_h/6f40299c/coreui.statics/images/social/twitter.svg" type="image/svg+xml">
                            <img alt="Twitter" src="//www.microsoft.com/onerfstatics/marketingsites-wcus-canary/_h/93690392/coreui.statics/images/social/twitter.png"></picture>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/microsoft" title="Follow Microsoft on Linkedin">
                            <picture><source srcset="//www.microsoft.com/onerfstatics/marketingsites-wcus-canary/_h/413bd4a8/coreui.statics/images/social/linkedin.svg" type="image/svg+xml">
                            <img alt="LinkedIn" src="//www.microsoft.com/onerfstatics/marketingsites-wcus-canary/_h/b23f9ba2/coreui.statics/images/social/linkedin.png"></picture>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <div class="footer-nav">
            <div class="container-fluid">
                <nav class="links">
                    <a href="https://go.microsoft.com/?linkid=2028325">Contact Us</a>
                    <a href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy &amp; Cookies</a>
                    <a href="https://go.microsoft.com/fwlink/?LinkID=206977">Terms of Use</a>
                    <a href="https://www.microsoft.com/trademarks">Trademarks</a>
                    <a href="https://www.microsoft.com/en-us/devices/safety-and-eco">Safety &amp; eco</a>
                    <a href="https://choice.microsoft.com/">About our ads</a> © Microsoft 2019 </nav>
            </div>
        </div>
</footer>*@

<footer class="footer">
    <div class="footer-inner">
        <div class="footer-info">
            <ul class="footer-menu">
                <li class="footer-menu-item">
                    <a href="/home/contentPage?contentPageId=ContactUs" class="footer-menu-link" title="Contact us">
                        Contact
                        us
                    </a>
                </li>
                <li class="footer-menu-item">
                    <a href="/home/contentPage?contentPageId=Privacy" class="footer-menu-link" title="Privacy & cookies">
                        Privacy
                        & cookies
                    </a>
                </li>
                <li class="footer-menu-item">
                    <a href="/home/contentPage?contentPageId=TermsOfUse" class="footer-menu-link" title="Terms of use">
                        Terms
                        of
                        use
                    </a>
                </li>
            </ul>
        </div>
        @*<div class="footer-social">
            <div class="footer-menu">
                <div class="footer-menu-item">
                    <a href="https://twitter.com/officedevpnp/" title="SharePoint PnP" class="footer-menu-link">
                        SharePoint PnP
                    </a>
                </div>
            </div>
        </div>*@
    </div>
</footer>
