<footer class="footer">
    <div class="footer-inner">
        <div class="footer-info">
            <ul class="footer-menu">
                <li class="footer-menu-item">
                    <a href="/home/contentPage?contentPageId=ContactUs" class="footer-menu-link" title="Contact us">
                        Contact
                        us
                    </a>
                </li>
                <li class="footer-menu-item">
                    <a href="/home/contentPage?contentPageId=Privacy" class="footer-menu-link" title="Privacy & cookies">
                        Privacy
                        & cookies
                    </a>
                </li>
                <li class="footer-menu-item">
                    <a href="/home/contentPage?contentPageId=TermsOfUse" class="footer-menu-link" title="Terms of use">
                        Terms
                        of
                        use
                    </a>
                </li>
            </ul>
        </div>
        @*<div class="footer-social">
            <div class="footer-menu">
                <div class="footer-menu-item">
                    <a href="https://twitter.com/officedevpnp/" title="SharePoint PnP" class="footer-menu-link">
                        SharePoint PnP
                    </a>
                </div>
            </div>
        </div>*@
    </div>
</footer>
