<script language="javascript">

    document.addEventListener("DOMContentLoaded", function (event) {

        fetch("/site/UserProfile/Username")
            .then(data => { return (data.json()); })
            .then(username => {
                if (username) {
                    document.body.querySelector(".pnp-username").textContent = username;
                    document.body.querySelector(".pnp-signinicon").classList.add("signedin");
                }
                else {
                    document.body.querySelector(".pnp-username").textContent = "Sign in";
                    document.body.querySelector(".pnp-signinicon").classList.remove("signedin");
                }
            });
    });

</script>

@*<header class="slb-header">
    <div class="header-container">
        <a class="logo main-logo" href="https://www.microsoft.com">
            <img aria-hidden="true" src="../../assets/images/logo.png">
            <span aria-hidden="true" role="presentation">Microsoft</span>
        </a>
        <div class="expanded-home-nav-item expanded-nav-item">
            <a aria-label="Microsoft 365" class="logo" routerlink="/" href="/"><span>Microsoft 365</span></a>
        </div>
        <div>
            <div class="collapsed-nav-opener collapsed-nav-item">
                <button class="has-glyph"><span>Microsoft 365</span></button>
            </div>
            <nav class="menu">
                <ul>
                    <li class="collapsed-nav-item"><a routerlink="/" href="/">Home</a></li>
                    <li class="ng-star-inserted"><app-nav-menu-item><button class="has-glyph ng-star-inserted"><span>Community</span></button>
                        <div class="menu-panel ng-star-inserted" role="menu">
                            <ul>
                                <li class="ng-star-inserted"><app-nav-menu-item><a href="/details/786b0204-a396-4ba8-b529-98d2bc128b1d" class="ng-star-inserted"><span>Work @@ Contoso</span></a></app-nav-menu-item></li>
                                <li class="ng-star-inserted"><app-nav-menu-item><a href="/details/2e9ff628-fa0b-4fb1-9c72-c48f94df6aa3" class="ng-star-inserted"><span>Live @@ Contoso</span></a></app-nav-menu-item></li>
                            </ul>
                        </div>
                    </app-nav-menu-item></li>
                    <li class="ng-star-inserted"><app-nav-menu-item><button class="has-glyph ng-star-inserted"><span>Department</span></button>
                        <div class="menu-panel ng-star-inserted" role="menu">
                            <ul>
                                <li class="ng-star-inserted"><app-nav-menu-item><a href="/details/1d43812d-e5c5-4a4d-9c52-0f9c44b7964c" class="ng-star-inserted"><span>Contoso Team Site</span></a></app-nav-menu-item></li>
                                <li class="ng-star-inserted"><app-nav-menu-item><a href="/details/d539bd4c-6651-4a54-a884-33883caac34d" class="ng-star-inserted"><span>Marketing Landing</span></a></app-nav-menu-item></li>
                            </ul>
                        </div>
                    </app-nav-menu-item></li>
                </ul>
            </nav>
        </div>
    </div>
</header>*@

<header class="pnp-header">
    <div class="pnp-header-inner">
        <div class="pnp-logo">
            <a href="/"><img src="/app/images/beta-tag.png" alt="" class="pnp-logo-beta"></a>
        </div>
        <div class="pnp-title">
            <a class="pnp-title-link" href="/">SharePoint Online Provisioning Service</a>
        </div>
        <nav class="nav-main">
            <div class="nav-burger">
                <button id="pnp-btn-burger" class="pnp-burger"></button>
            </div>
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="/home/contentPage?contentPageId=ServiceDescriptionLong" class="nav-list-link">Service description</a>
                </li>
                <li class="nav-list-item" style="position: relative;">
                    <div class="pnp-signinicon">
                        <div class="pnp-signin-inner">
                            <a href="/site/home/login" class="pnp-signin-btn">Sign in</a>
                            <div class="pnp-username"></div>
                        </div>
                        <div class="pnp-signin-flyout">
                            <a href="/site/home/logout">Sign out</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>