<script language="javascript">

    document.addEventListener("DOMContentLoaded", function (event) {

        fetch("/site/UserProfile/Username")
            .then(data => { return (data.json()); })
            .then(username => {
                if (username) {
                    document.body.querySelector(".pnp-username").textContent = username;
                    document.body.querySelector(".pnp-signinicon").classList.add("signedin");
                }
                else {
                    document.body.querySelector(".pnp-username").textContent = "Sign in";
                    document.body.querySelector(".pnp-signinicon").classList.remove("signedin");
                }
            });
    });

</script>

<header class="pnp-header">
    <div class="pnp-header-inner">
        <div class="pnp-logo">
            <a href="/"><img src="/app/images/beta-tag.png" alt="" class="pnp-logo-beta"></a>
        </div>
        <div class="pnp-title">
            <a class="pnp-title-link" href="/">SharePoint Online Provisioning Service</a>
        </div>
        <nav class="nav-main">
            <div class="nav-burger">
                <button id="pnp-btn-burger" class="pnp-burger"></button>
            </div>
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="/home/contentPage?contentPageId=ServiceDescriptionLong" class="nav-list-link">Service description</a>
                </li>
                <li class="nav-list-item" style="position: relative;">
                    <div class="pnp-signinicon">
                        <div class="pnp-signin-inner">
                            <a href="/site/home/login" class="pnp-signin-btn">Sign in</a>
                            <div class="pnp-username"></div>
                        </div>
                        <div class="pnp-signin-flyout">
                            <a href="/site/home/logout">Sign out</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>