<section class="top-section small">
    <div class="container-fluid">
        <div class="top-section-area dark-bg d-flex align-items-center">
            <div class="section-text">
                <div>
                    <h1 class="mb-4">SharePoint Provisioning Service</h1>
                    <h3 class="mb-3">Get inspired.</h3>
                    <p class="mb-3">
                        Discover the intelligent intranet in Microsoft 365
                    </p><a href="/#templates" slb-cta-button=""
                           class="call-to-action slb-primary-button"><span>View Examples</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
