html{
  height: 100%;
}

body {
  background: #fafafa;
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0 auto;
  min-height: 100%;
  margin-top: 60px;
  box-sizing: border-box;
}