<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6db067a0-7676-4104-87ef-61054391bf40/resourceGroups/PnP-Provisioning-Service-Dev/providers/Microsoft.Web/sites/piasys-splb-dev</ResourceId>
    <ResourceGroup>PnP-Provisioning-Service-Dev</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Tenant.Dev</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://piasys-splb-dev.azurewebsites.net/tenant</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>piasys-splb-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>piasys-splb-dev/tenant</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$piasys-splb-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SharePointPnP.ProvisioningApp.DomainModel.Migrations.CustomHistoryContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sppnpprovisioning.database.windows.net,1433;Initial Catalog=sppnpprovisioningapp-dev;Persist Security Info=False;User ID=PnPAdmin;Password=spPnP!dB2o#I9@;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:sppnpprovisioning.database.windows.net,1433;Initial Catalog=sppnpprovisioningapp-dev;Persist Security Info=False;User ID=PnPAdmin;Password=spPnP!dB2o#I9@;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SharePointPnP.ProvisioningApp.DomainModel.Migrations.CustomHistoryContext, SharePointPnP.ProvisioningApp.DomainModel" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PnPProvisioningAppDBContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SharePointPnP.ProvisioningApp.DomainModel.ProvisioningAppDBContext, SharePointPnP.ProvisioningApp.DomainModel" MigrationConfiguration="SharePointPnP.ProvisioningApp.DomainModel.Migrations.Configuration, SharePointPnP.ProvisioningApp.DomainModel" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PnPProvisioningAppDBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="SharePointPnP.ProvisioningApp.DomainModel.Migrations.CustomHistoryContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sppnpprovisioning.database.windows.net,1433;Initial Catalog=sppnpprovisioningapp-dev;Persist Security Info=False;User ID=PnPAdmin;Password=spPnP!dB2o#I9@;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PnPProvisioningAppDBContext" />
    <_ConnectionStringsToInsert Include="SharePointPnP.ProvisioningApp.DomainModel.Migrations.CustomHistoryContext" />
  </ItemGroup>
</Project>