@model SharePointPnP.ProvisioningApp.WebApp.Models.TemplateParameterModel

<!-- FullSiteUrl Custom Editor Display -->
<div class="siteUrlLink hide"><a target="_blank" href="@(Model.SPORootSiteUrl + Model.ParameterValue)">@(Model.SPORootSiteUrl + Model.ParameterValue)</a></div>
<div class="provisioningSiteUrlLink show">@(Model.SPORootSiteUrl + Model.ParameterValue)</div>
<div class="failedSiteUrlLink hide">@(Model.SPORootSiteUrl + Model.ParameterValue)</div>


