<div class="content-container">
    <div>
        <div class="container-fluid">
            <section class="top-hero-section">
                <div class="section-text">
                    <div>
                        <h2>SharePoint provisioning service</h2>
                        <h3>Get inspired.</h3>
                        <p>
                            Discover the modern experiences you can build with SharePoint in Office 365
                        </p><a href="/#templates" class="call-to-action slb-primary-button"><span>See examples</span></a>
                    </div>
                </div>
                <div class="section-image"></div>
            </section>
            <section class="feature-hero-section">
                <div class="hero-section-text-container">
                    <div>
                        <h6>Build a beautiful, powerful intranet</h6>
                        <p> SharePoint connects the workplace by powering a new generation of intelligent content and communication experiences </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
