.iframe-container{
	position: absolute;
	z-index: 50;
	top: 0;
	right: 0;

	display: flex;
	display: none;

	width: 100%;
	height: 100%;

    background-color: pink;
    &.show{
        display: block;
    }
}

.iframe-auth{
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	border: 0;
	// border: none;
	// overflow: hidden;
	// position: absolute;
	// height: 100%;
	// width: 100%;
	// z-index: 50;
	// margin: 0;
	// padding: 0px;
}
.next-step{
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

    border: 0;
    z-index: 50;
    display: none;
    background-color: white;
    &.show{
        display: block;
    }
}