.pnp-tb {
    font-size: 1em;
    // border: 2px $ms-form-border solid;

    position: relative;

    padding: .2em .8em .3em;

    &[disabled] {
        color: $ms-form-border;
        background-color: rgb(244, 244, 244);
    }
}

input[type="radio"] {
    font-size: 1em;

    margin-right: 1em;
}

input[type="checkbox"] {
    font-size: 1em;

    margin-right: 1em;
}

button,
input[type="button"] {
    font-size: 1em;
    font-weight: 600;

    padding: .4em 1em .5em;

    transition: background-color .25s ease-in-out;

    color: rgb(51, 51, 51);
    border: 1px $ms-form-border solid;
    border-color: 2px $ms-form-border solid;
    background-color: rgb(244, 244, 244);

    &:hover {
        color: white;
        background-color: $ms-sharepoint;
    }

    &:active,
    &:checked {
        color: rgb(51, 51, 51);
        background-color: rgb(200, 200, 200);
    }
}


textarea {
    font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;

    padding: .2em .8em .3em;

    border-color: 2px $ms-form-border solid;
}

select,
option {
    font-size: 1em;

    border-color: 2px $ms-form-border solid;
    -webkit-border-radius: 0;
}

table {
    width: 100%;
}

th {
    font-size: 1.2em;

    padding: .5em 2em;
    padding-left: 0;

    text-align: left;
}

#ThemePrimaryColor,
#ThemeBodyBackgroundColor,
#ThemeBodyTextColor {
    padding: 0;

    background-color: white;
}


.pnp-search {
    font-size: 1.15em;

    &-input {
        @extend .pnp-tb;

        float: left;

        margin-right: 0;
        padding-right: 0;

        border: 1px $ms-form-border solid;
        border-right: 0;
        border-right: 0;
    }

    &-button {
        float: left;
        overflow: hidden;

        box-sizing: border-box;
        margin-left: 0;
        padding: .2em .4em .3em;
        padding-bottom: calc(.3em - 3px);

        color: $ms-sharepoint;
        border-left: 0;
        background-color: white;

        &:before {
            font-family: "FW-MDL2";

            display: inline-block;

            margin-top: 3px;

            content: "";
        }
    }
}

.pnp-form {
    width: 100%;

    .pnp-btn-provision {}

    @media #{$base-phone} {

        table th,
        table td {
            display: block;
        }
    }

    .pnp-field-description {
        font-size: .7em;
        font-weight: normal;
    }

    .pnp-field-label {}
}

.pnp-colorpreview {
    display: inline-block;

    margin-top: 1px;
    width: 31px;
    height: 31px;
    margin-right: 0.5em;

    content: " ";
    white-space: nowrap;
    float: left;
}
