<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sppnpprovisioningapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ec1dc394-557a-48a9-87b2-531d5d092651/resourceGroups/PnPHosting/providers/Microsoft.Web/sites/sppnpprovisioningapp</ResourceId>
    <UserName>$sppnpprovisioningapp</UserName>
    <_SavePWD>True</_SavePWD>
    <MSDeployServiceURL>sppnpprovisioningapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <DeployIisAppPath>sppnpprovisioningapp</DeployIisAppPath>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>