<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6db067a0-7676-4104-87ef-61054391bf40/resourceGroups/SP-Provisioning-App-Dev/providers/Microsoft.Web/sites/spprovisioningappdev</ResourceId>
    <ResourceGroup>SP-Provisioning-App-Dev</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://spprovisioningappdev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>spprovisioningappdev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>spprovisioningappdev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$spprovisioningappdev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SharePointPnP.ProvisioningApp.DomainModel.ProvisioningAppDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sppnpprovisioningdev.database.windows.net,1433;Initial Catalog=SPProvisioningAppDev;Persist Security Info=False;User ID=SPProvisioningAppAdmin;Password=bip2009!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:sppnpprovisioningdev.database.windows.net,1433;Initial Catalog=SPProvisioningAppDev;Persist Security Info=False;User ID=SPProvisioningAppAdmin;Password=bip2009!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SharePointPnP.ProvisioningApp.DomainModel.ProvisioningAppDBContext, SharePointPnP.ProvisioningApp.DomainModel" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PnPProvisioningAppDBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:sppnpprovisioningdev.database.windows.net,1433;Initial Catalog=SPProvisioningAppDev;Persist Security Info=False;User ID=SPProvisioningAppAdmin;Password=bip2009!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:sppnpprovisioningdev.database.windows.net,1433;Initial Catalog=SPProvisioningAppDev;Persist Security Info=False;User ID=SPProvisioningAppAdmin;Password=bip2009!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:sppnpprovisioningdev.database.windows.net,1433;Initial Catalog=SPProvisioningAppDev;Persist Security Info=False;User ID=SPProvisioningAppAdmin;Password=bip2009!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PnPProvisioningAppDBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:sppnpprovisioningdev.database.windows.net,1433;Initial Catalog=SPProvisioningAppDev;Persist Security Info=False;User ID=SPProvisioningAppAdmin;Password=bip2009!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PnPProvisioningAppDBContext-Web.config Connection String">
      <ParameterValue>Server=tcp:sppnpprovisioningdev.database.windows.net,1433;Initial Catalog=SPProvisioningAppDev;Persist Security Info=False;User ID=SPProvisioningAppAdmin;Password=bip2009!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SharePointPnP.ProvisioningApp.DomainModel.ProvisioningAppDBContext-Web.config Connection String">
      <ParameterValue>Server=tcp:sppnpprovisioningdev.database.windows.net,1433;Initial Catalog=SPProvisioningAppDev;Persist Security Info=False;User ID=SPProvisioningAppAdmin;Password=bip2009!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SharePointPnP.ProvisioningApp.DomainModel.ProvisioningAppDBContext" />
  </ItemGroup>
</Project>